.contacts {
  position: relative;
}
.contacts__wrapper {
  padding: 40px 35px 10px;

  text-align: center;
}

.contacts__header {
  margin: 0;
  margin-bottom: 37px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.contacts__list {
 @include list-reset;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: $pink;
  &:hover,
  &:focus {
    color: $dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  z-index: 1;
  height: 200px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg")
  }
  &::before {
    position: absolute;
    content:"";
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 35px;
    background-image: linear-gradient(to top right, transparent 49.5%, #f8f5f2 50.5%), linear-gradient(to top left, transparent 49.5%, #f8f5f2 50.5%);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 50.1% 100%;
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 48px 0 25px;
    width: 93.93%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contacts__header {
    width: 380px;
    margin: 0 auto;

    margin-bottom: 46px;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__item {
    width: 36%;
    margin-bottom: 50px;
    &:last-child {
      margin: 0;
    }
  }
  .contacts__title {
    margin-bottom: 8px;
  }

  .contacts__map {
    height: 378px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 50% 50%;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
    &::before {
      height: 72px;
    }
    iframe {
      height: 378px;
    }
  }
}

@media (min-width: $desktop-width) {
 .contacts__wrapper {
    width: 78.33%;
    padding-top: 64px;
  }
  .contacts__header{
    width: 480px;
    margin-bottom: 58px;

    font-size: 50px;
    line-height: 60px;
  }

  .contacts__item {
    width: 250px;
    margin-bottom: 0;
    &:nth-child(2) {
      order: 2;
    }
  }
  .contacts__title {
    margin-bottom: 26px;
  }

  .contacts__map {
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 50% 50%;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
    &::before {
      height: 100px;
    }
    iframe {
      height: 500px;
    }
  }


}
