.logo {
  position: relative;
  z-index: 20;

  width: 75px;
  height: 22px;
  &:hover .logo__image,
  &:focus .logo__image {
    fill: $pink;
  }
  &--footer {
    width: 148px;
    height: 40px;
  }
}

.logo--header .logo__image {
  fill: $white;
  &--tablet,
  &--desktop {
    display: none;
  }
}

.logo--footer .logo__image {
  fill: $dark;
  &--desktop {
    display: none;
  }
}

.logo--header:active .logo__image {
  opacity: 0.3;

  fill: $white;
}

.logo--footer:active .logo__image {
  opacity: 0.3;

  fill: $dark;
}

@media (min-width: $tablet-width) {

  .logo {
    width: 147px;
    height: 40px;
  }

  .logo--header .logo__image {
    fill: $white;

    &--tablet {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

}

@media (min-width: $desktop-width) {

  .logo--header .logo__image {
    &--desktop {
      display: block;
    }
    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .logo--footer .logo__image {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: block;
    }
  }

}
