.promo {
  background-color: #1d2631;
  background-image:
  url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");

  background-repeat: no-repeat;
  background-position: left 0 top 175px, 50% 0;
  background-size: 258px 286px, 700px auto;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo--inner {
  box-sizing: border-box;
  min-height: 240px;
  padding: 98px 20px 54px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  background-size: 700px auto;
  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo__title {
  display: none;
}

.promo--inner h1 {
  display: block;
  width: 280px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.promo__download {
  padding-top: 490px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;


  text-align: center;
}

.promo__button {
  // width: 100%;
  display: block;
  margin-bottom: 33px;
  padding: 15px 35px 17px 35px;
  line-height: 18px;

  border: 3px solid $white;
  border-radius: 3em;
  &:hover,
  &:focus {
    color: $pink;

    background-color: $white;
  }
  &:active {
    color: #f1becc;
}
}

.promo__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 240px;
  @include list-reset;
  margin: 0 auto;
  margin-bottom: 14px;
}

.promo__link:hover,
.promo__link:focus {
  opacity: 0.7;
}

.promo__description {
  margin: 0;
  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size: 700px 545px, cover;
    background-position: 80% 100%, 50% 0;
  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image:
      url("../img/iphone-hand-tablet@2x.png"),
      url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo--inner {
    padding: 180px 0 78px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px, auto;
    background-position: 50% 0;
    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo__wrapper {
    width: 93%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 203px 0 110px 0;
  }
  .promo__title {
    display: block;
    width: 189px;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 55px;

    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: $white;
    text-align: center;
  }

  .promo--inner h1 {
    width: 475px;

    font-size: 50px;
    line-height: 60px;
  }

  .promo__download {
    width: 300px;
    padding: 0;
  }

  .promo__button {
    margin-bottom: 45px;
  }

  .promo__list {
    margin-bottom: 30px;
  }

  .promo__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {

  .promo {
    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 1050px 645px, cover;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo--inner {
    padding-top: 174px;
    padding-bottom: 101px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
    background-size: auto 853px;
    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo__wrapper {
    width: 78.33%;
    padding: 218px 0 122px 0;
  }

  .promo__title {
    width: 300px;
    margin-bottom: 52px;
    margin-left: 0;

    font-size: 50px;
    line-height: 60px;
  }

  .promo--inner h1 {
    width: 820px;
  }

  .promo__button {
    margin-bottom: 66px;
    padding: 14px 28px;
    padding-bottom: 17px;
    font-size: 21px;
  }

  .promo__list {
    margin-bottom: 50px;
  }

}
