$white: #ffffff;
$black: #000000;
$pink: #d22856;
$grey: #f2f2f2;
$dark: #283645;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-only: 1199px;
